<<<<<<< HEAD
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
=======
.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', sans-serif;
}

.login-form {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
>>>>>>> 52eb728 (atualizacao do codigo)
  align-items: center;
  justify-content: center;
}

<<<<<<< HEAD
=======
.login-form h2 {
  font-size: 26px;
  margin-bottom: 30px;
  color: #222;
}

.full-width {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}


.botao-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.botao-container button {
  min-width: 100px !important;
  max-width: 120px !important;
  padding: 8px 0 !important;
  font-size: 14px !important;
  text-transform: none !important;
  box-shadow: none !important;
  border-radius: 6px;
}

.forgot {
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #2c62f7;
}

>>>>>>> 52eb728 (atualizacao do codigo)
.imagem-fundo {
  align-self: flex-end;
  width: 50%;
  height: 100%;
  background-image: url(../../../../../public/icons/background.jpeg);
  background-position: center;
  background-size: cover;
}
<<<<<<< HEAD

.principal {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.container_caixa {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.caixa {
  width: 100%;
}

.caixa > h2 {
  letter-spacing: 2px;
}

.esqueceu {
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 10px;
}

a {
  text-decoration: none;
}
=======
>>>>>>> 52eb728 (atualizacao do codigo)
