.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.imagem-fundo {
  align-self: flex-end;
  width: 50%;
  height: 100%;
  background-image: url(../../../../../public/icons/background.jpeg);
  background-position: center;
  background-size: cover;
}

.principal {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.container_caixa {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.caixa {
  width: 100%;
}

.caixa > h2 {
  letter-spacing: 2px;
}

.esqueceu {
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 10px;
}

a {
  text-decoration: none;
}