<div>
    <div
      [ngStyle]="{'background-color': corDoCard()}" 
      class="card" 
      (click)="toggleCard()"
    > 
      {{ sala.Id }}
    </div>
  </div>
  
  <div class="overlay" *ngIf="exibirCard" (click)="toggleCard()">
    <div class="modal-card" (click)="$event.stopPropagation()">
      <h5 class="card-title"> {{ sala }}</h5>
      <p class="card-text">Professor: Aroldo</p>
      <p class="card-text">Disciplina: sei lá bixo</p>
      <p class="card-text">Turma: 3h3</p>
      <button class="btn btn-primary" (click)="toggleCard()">Fechar</button>
    </div>
  </div>
  