<div>
  <mat-card
    [ngStyle]="{'background-color': corDoCard()}"
    class="card"
    (click)="toggleCard()"
  >
    {{ sala.Id }}
  </mat-card>
</div>

<div class="overlay" *ngIf="exibirCard" (click)="toggleCard()">
  <mat-card class="modal-card" (click)="$event.stopPropagation()">
    <mat-card-title>{{ sala }}</mat-card-title>
    <mat-card-content>
      <p>Professor: Aroldo</p>
      <p>Disciplina: sei lá bixo</p>
      <p>Turma: 3h3</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="toggleCard()">Fechar</button>
    </mat-card-actions>
  </mat-card>
</div>
